
body {
    
    /* background-image: url("10007.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
   }
.HeaderBanner{
    height: 30vh;
    color:#0099FF;
    font-size: 80px;
    text-align: center;
  }
  
  .MenuText{
    height: 10vh;
    display: flex;
    justify-content: center;
  }
  
  #MenuText p {
    padding-left: 50px;
    padding-right:50px;
    font-size: 30px;
  }


  
  #Stats{
    height: 50vh;
    display: flex;
    width: 45%;
    background-color: white;
    margin: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    filter: drop-shadow(3px 3px 6px lightblue);
  }
  

  
  #StatsText{
    text-align: left;
  }
  
  #StatsText h3{
    color:#BFC5D2;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  #StatsText p{
    color:black;
    margin-top: 40px;
     margin-left: 50px;
  }
  
  #Stats2{
    height: 50vh;
    display: flex
  }
  
  #Stats2 button{
    background-color: #2E5AFF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 90%;
  }
  
  #Stats2 {
  
    width: 45%;
    background-color: white;
    margin: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    filter: drop-shadow(3px 3px 6px lightblue);
  }
  
  #InfoTable{
    background-color: yellow;
    height: 40vh;
  }

  table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  
  }
  th {
    height: 50px;
    background-color: #DCE1E7;
  }
  
  td{
      height: 100px;
  }

  
.MenuText > a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

.MenuText > a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.MenuText > a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
    font-family: 'Times New Roman', Times, serif
}

.MenuText > a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.MenuText > a:active::before {
    background-color: #000;
}

.MenuText > a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
  
  
  